# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Backend
# =========================
backend/venv/
backend/__pycache__/
backend/.env

# =========================
# Python
# =========================
**/__pycache__/
*.py[cod]

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
backend/uploads/

backend/node_modules/
node_modules/